.header{
   /* border:1px solid red;*/
    width: 100%;
    height: 80px;
    z-index: 100;

}
.menu{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color:rgb(67,98,202);
    position: absolute;
    margin:20px 0px 0px 183px;
    z-index: 3;
}


/*-----展开按钮-----*/
.open{
    width: 50px;
    height: 50px;
    z-index: 4;
}
.bar1{
    background: white;
    width: 30px;
    height: 5px;
    margin-top: 15px;
    margin-left: 10px;
}
.bar2{
    background: white;
    width: 30px;
    height: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.moveBar1{
    transform: translate(950px,7px) rotate(405deg) ;
    transition: all 1s linear;
}
.moveBar2{
    transform: translate(951px,-8px) rotate(-405deg) ;
    transition: all 1s linear;
}
/*-----中间菜单内容-----*/
.menuList{
    display: none;
}
.menu ul{
    width: 400px;
    height: 50px;
    margin-left: 250px;
    z-index: 4;
}
.menu ul li{
    width: 70px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}
.menu ul li a:link{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: none;
    color: black;
}
/*----右边按钮------*/
.close{
    width: 50px;
    height: 50px;
    z-index: 5;
}
/*-----中间名字-----*/
.logoName{
    height: 50px;
    width: 190px;
    color: white;
    margin-left: 600px;
    z-index: 3;
    line-height: 50px;
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 40px;
    font-family: "华文行楷";
}
.adjustName{
    position: relative;
    right: 30px;
}
.logoName a{
    font-size: 20px;
    color: white;
    font-family:"黑体" ;

}
.logoName#logIn{
    height: 50px;
    width: 50px;
}
.logoName#regist{
    height: 50px;
    width: 50px;
}
.logoName#logIn a:hover{
    color: black;
}
.logoName#regist a:hover{
    color: black;
}
#regist{
    position: absolute;
    left:400px;
    top: 30px;
}
#logIn{
    position: absolute;
    left:460px;
    top: 30px;
}

/*-----注册登录-----*/
.log{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    z-index: 3;
}
.log a{
    color: white;
    text-decoration: none;
}
.log a:hover{
    color: black;
    text-decoration: none;
}
.logAdjust1{
    margin-right: 30px;
}
.logAdjust2{
    margin-right: 200px;
}

