* {
	margin: 0;
	padding: 0;
}

iframe {
	z-index: -1;
	border: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.index-main{
width: 100%;
position: absolute;
top: 200px;
}

a{
	display: inline-block;
	font-size: 18px;
	
}

.index-main-body{
	z-index: 100;
	width: 300px;
	height: 590px;
	/*border: 3px solid white;*/
	margin:0 auto;
}

.index-main-solid{
	width: 300px;
	margin-top:20px ;
}

.index-header{
	margin: 0 auto;
	text-align: center;
}

.index-nav{
	width: 150px;
	margin: 0 auto;
	position: relative;
}

.index-nav a{
	text-decoration: none;
	color: gray;
	font-size: 18px;
	line-height: 35px;
	margin-left: 20px;
	
}

a.active{
	color:#0f88eb;
	}

#index-slider{
	display: inline-block;
	width: 2.4em;
	height: 2px;
	background: #0f88eb;
	position: absolute;
	
	top: 30px;
	transition: all 0.3s ease-in-out; 
}


.toleft{
	left: 18px;
}

.toright{
	left: 80px;
	
}


.sliderActive{
	left: 30px;
}



.form-body input[type=submit]{
	width: 100%;
	height: 40px;
	color: white;
	background:#0f88eb ;
	border: 0px;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 18px;
}

/*form div{
	width: 100%;
	height: 47px;
	background: white;
	
}*/



.login-input-usernameWrap{
	margin-top: 30px;
}
.login-input-passwordWrap{
	margin-top: 5px;
}

.index-form-regiser{
	
}

.index-form-login{
}

.isActive{
display: block;	
	
}

input[type="text"]{
	width: 280px;
	height: 28px;
	font-size: 16px;
	border: 0px;
	padding: 10px;
	display: block;
	margin-top:5px ;
	border-radius:5px ;
	opacity: 0.6;
	background: rgba(250,250,250,0.7);
	
}


#login-commitBtn:hover,#index-register-commit:hover{
	cursor: pointer;
}


