
.template-main-body{
	margin-top: 100px;
}
.Card{
	height: 250px;
	background: url(../img/111.jpg) 0px -700px;
	position: relative;
	box-shadow: 1px 1px 3px gray;
	border-radius: 3px;
}

.Card-showInfo{
	width: 300px;
	position: absolute;
	left: 380px;
	top: 30px;
}

.shadow{
	height: 110px;
	width: 110px;
	border-radius: 55px;
	z-index: -10;
	background: rgba(200,200,200,0.5);
	margin: 0 auto;
}
.Card-headImg{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	overflow: hidden;
	position: relative;
	top: 5px;
	left: 5px;

}



.shadow:hover {
	background: rgba(250,250,200,0.5);
}

.Card-nameAndIntro{
	color:rgb(240,240,240);
	text-align: center;
}


/*
 * 右侧栏
 */

.statistics{
	box-shadow: 1px 1px 3px gray;
	background: white;
	border-radius: 3px;
	height: 100px;
}

.attentionCount,.funsCount{
	display: inline-block;
	width: 145px;
	height: 80px;
	position: relative;
	top: 10px;
	
}

.attentionCount{
	border-right: 1px solid rgb(230,230,230);
}

.statistics h3{
	text-align: center;
	margin-top: 15px;
}

.statistics span{
	
	display: block;
	text-align: center;
}

/*
 *右侧菜单栏 
 */

ul{
	list-style: none;
}

.right-menu{
	margin-top: 10px;
	background: white;
	box-shadow: 1px 1px 3px gray;
	border-radius: 3px;
}

.right-menu div{
	height: 40px;
	text-align: center;
}

.right-menu div:hover{
	background: rgb(230,210,200);
	
}

.right-menu div li{
	width: 260px;
	margin: 0 auto;
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid rgb(230,230,230);
	cursor: pointer;
}

.isMenuActive{
	background: orange;
}


/**
 * 右侧好友栏
 */
.right-myFriend{
	width: 300px;
	height: 500px;
	background: white;
	box-shadow: 1px 1px 3px gray;
	border-radius: 3px;
	margin-top: 10px;
	padding: 10px 20px;
	position: relative;
}
/*.friend-nav{
	border-bottom: 1px dashed gray;
}*/

.right-friendwarp{
	margin-top:30px ;
}

.right-headIMG{
	width: 50px;
	height: 50px;
}

.right-friendInfo{
	margin-left: 60px;
}

.right-friendInfo a{
	color: black;
}

.right-friendInfo span{
	margin-top: 11px;
	display: inline-block;
}

.right-friendInfo .introduce{
	font-size: 13px;
}

.friend-pageCode{
	display: inline-block;
	width: 70px;
	text-align: center;
}

.friend-manager{
	position: absolute;
	left: 75px;
	bottom: 20px;
}


/**
 * 左侧状态栏
 */
.left-status{
	background: white;
	box-shadow: 1px 1px 3px gray;
	border-radius: 3px 3px 0px 0px;
	height: 40px;
}

.left-statusUl li{
	display: inline-block;
	text-align: center;
	margin-left: 50px;
	line-height: 40px;
	
} 
.left-statusUl li:hover{
	cursor: pointer;
}

.statusActive{
	color: cornflowerblue;
}

/**
 * 左侧个人信息栏
 */

.left-personInfo{
	margin-top: 2px;
	background: white;
	box-shadow: 1px 1px 3px gray;
	border-radius: 3px;
	padding: 30px;
	height: 600px;
}

.personInfo-table{
	margin-top:10px ;
}

.personInfo-table td{
	height: 50px;
	vertical-align: top;
}

tr td:nth-of-type(1){
	width: 100px;
}

.personInfo-table input[type="email"]{
	display: inline-block;
	height: 38px;
	width: 300px;
	font-size: 18px;
	padding:0 10px ;
}

.sexTd span,.oritationTd span{
	display: inline-block;
	width: 30px;
}

.changePassword{
	color: cornflowerblue;
	font-size: 12px;
}

.left-infoWrap input[type="submit"]{
	display: inline-block;
	width: 200px;
	height: 30px;	
	border: 0;
	background: cornflowerblue;
	color: white;
	font-size: 16px;
	position: relative;
	left: 150px;
	top: 20px;
}


/**
上传头像框
 */
.head-img-box{
	height:300px;
	width: 400px;
	background: rgba(100,200,80,0.7);
}

