*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: rgb(150,150,150);
}


.isActive{
	color: rgb(30,30,30);
}

.template-header a:hover{
	color: rgb(30,30,30);
	
}

body{
	background: rgb(240,240,240);
}
.right{
	float: right;
}

.left{
	float: left;
}

/*
 * 网页头部
 */

.template-header{
	height: 50px;
	background: white;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
	box-shadow: 1px 1px 3px gray;
}

.template-logo{
color: #0F88EB;
font-size: 30px;
line-height: 30px;
font-weight: bold;		
}

.template-header-wrap{
	width: 1030px;
	margin: 0 auto;
	height: 50px;
}

.template-header-wrap div,nav{
	display: inline-block;
}


.template-logo{
	display: inline-block;
	position: relative;
	top: 5px;

}

.template-header-nav a{
	margin-left: 30px;
	
}

.template-search-bar{
	margin-left: 30px;
}

.template-search-bar input{
	display: inline-block;
	height: 34px;
	width: 280px;
	padding: 5px 10px;
}

.template-search-bar input:focus{
	width: 360px;
	transition: all 0.3s ease-in-out 0s;
}



.template-search-buttonWrap input{
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 0;
	position: relative;
	left: -40px;
	background: url(../img/icon/searchGray.png)  no-repeat 3px;
}



.template-search-buttonWrap input:hover{
	cursor: pointer;
	background: url(../img/icon/searchBlue.png)  no-repeat 3px
}

.template-search-buttonWrap input:focus{
	outline: none;
}

.template-header-right{
	margin-top: 14px;
	
}
.template-loginRegist a{
	margin-left:20px ;
	
}

.head-img{
	position: absolute;
	top: 5px;
}

.head-img img{
	display: none;
}

.template-main-body{
	width:1030px ;
	margin: 15px auto;
}

/*模板结束*/

.template-body-left{
	float: left;
	width:700px ;
	/*border: 1px solid black;*/
	margin-top: 10px;
}

.template-body-right{
	float: right;
	width: 300px;
	/*border: 1px solid black;*/
	margin-top: 10px;
}
