
.template-body-left-1{
	margin-left: 0;
	margin-right: 25px;
	margin-top: 0;
}
.template-body-left-1-neirong{
	margin-top: -1em;
	
}

.template-body-left-body{
	padding: 0px;
	margin: 1em;
	margin-bottom: 3em;
	float: left;
	width: 28%;
	height: 200px;
	transition: all 0.25s ease
}

.template-body-left-body:hover{
	transform: scale(1.1);
}
.item-link{
	display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0 0;
}

.visit{
	padding: .6em .8em;
	padding-left: 12px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	color: #778087;
	background: #fff;
	border-radius: 0 0 3px 3px;
}

.db{
	margin-top: 2em;
    display: block;
    background: 0 0;
    border: 0;
    width: 100%;
    outline: 0;
}

.db a{
	margin-top: 2em;
	display: block;
    background-color: #f9fafb;
    box-shadow: 0 1px 2px rgba(0,0,0,.02);
    border: 1px solid #d3d9de;
    border-radius: 3px;
    color: #778087;
    line-height: 3em;
    text-align: center;
    transition: all .15s ease;
}

.db a:hover{
	background-color: #d3d8dd;
	color: #0F88EB;
}

.template-body-right-1{
	margin: 0 1px;
}
.template-body-right-1-1{
	border: 1px solid #d3d9de;
    background-color: #fff;
}

.template-body-right-1-1-header{
	font-family:"宋体";
	padding: .5em .8em;
    border-bottom: 1px solid #eaf0f5;
    border-radius: 3px 3px 0 0;
    background: #f9fafb;
}

.items{
	margin: 0;
    list-style: none;
}

.item{
	padding: .5em 0;
    color: #778087;
}

.item-header{
	padding: .5em .8em;
    overflow: hidden;
}

.item-header .item-link{
	float: left;
    width: 50px;
    height: 50px;
    margin-right: .8em;
}

.item-header .content a:hover{
	color: #0F88EB;
}

.bio{
	font-size: 14px;
	line-height: 1.8;
}

.mask{
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom,rgba(0,0,0,.01) 70%,rgba(0,0,0,.4) 100%);
}

.name{
	position: absolute;
	font-size: 15px;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding: .6em .8em;
}

.template-main-body{
	margin-top: 50px;
	
}
